In [1]:
#Function progmming language - Borrowed from c programming 
#OOPs - C++
#scripting feature - perl and shell scripting 
#Modular programming - Modula 3 
#Syntax - C and ABC proramming

In [2]:
#Where can we use python? 
#Desktop application - Calculators
#Web application - Django, flask, Tkinter
#Database applications 
#Network appliation
#Games 
#Data analytics and Data Science 
    #Machine Learning 
#Artificial Intelligence 
    #DL 
#IOT applications

In [3]:
from random import *
for i in range(0,10):
    print(randint(0,9),randint(0,9),randint(0,9),randint(0,9),randint(0,9),randint(0,9))

3 1 7 0 9 8
1 3 4 5 8 7
3 2 7 9 2 8
9 7 8 7 9 3
4 4 4 7 0 9
6 4 6 6 3 3
5 2 5 2 8 1
2 4 5 8 6 0
8 4 3 5 6 9
8 7 2 9 4 7

In [ ]:
#Flavours of python 
#cpython 
#jpython - Jython
#IronPyhton - Csharpe and .net 
#PyPy - Performance internally improved in P(ython) V(irtual) M(achine)
#RubyPython - Ruby
#Anaconda Python - Big Data *************
#Stackless - Python concurrency

In [4]:
#Python Versions 
#Python 1.0 - 1994
#Python 2.0 - 2000
#Python 3.0 - 2008
#Python 3.6.3 - 2016
#Python 3.8.2 - 2020

In [7]:
#Python Identifiers 
#alphabets (both upper and lower)
#digits (0-9)
#underscore _
customer_name = 'Anita'
money = 100
Money = 200

In [8]:
Money

200

In [9]:
money

100

In [12]:
name123cust= 'Anita'

In [13]:
_name ='rahul'

In [14]:
_name

'rahul'

In [18]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [ ]:
#Types of datatypes 
#int
#float
#str
#bool

#complex
#byte
#bytearray
#range

#Python collection datatypes 
#lists
#tuples
#sets
#frozenset
#dictionaries

#None

In [25]:
a = 10
print(id(a))
b = 10
print(id(b))

140703161819824
140703161819824

In [31]:
c = 300
print(id(c))
d=300
print(id(d))

2145134795664
2145134795408

In [37]:
#Int 
    #Decimal - Base 10
    #Binary  - Base 2
    #Octal - Base 8
    #Hexadecimal - Base 16

In [36]:
a=10
b=20
c=30
print(a)
print(b)
print(c)

10
20
30

In [40]:
a = 1111
print(a)

1111

In [46]:
0b1111

15

In [43]:
#Octal 
a = 777
a

777

In [47]:

a = 0O777
a

511

In [48]:
#Base 16
#0-9 a to f | A to F 
0Xface

64206

In [49]:
#Float 
petrol = 68.76

In [52]:
#Complex 
#a + bj
#a - Real part 
#b - Imaginary part
#j = sqroot -1
x = 10+2j
type(x)

complex

In [59]:
a = True
b = False
a+b

1

In [58]:
False + False

0

In [ ]:
and

In [60]:
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [64]:
a = 'Edureka Teaching'

In [65]:
print('''Edureka 
            Teaching''')

Edureka
            Teaching

In [72]:
'''Edureka 

Teaching'''

'Edureka \n\nTeaching'

In [78]:
'''Python by 'Rahul' is good and his 'materials' are good also '''

"Python by 'Rahul' is good and his 'materials' are good also "

In [ ]:
Rahul 'classes' very helpful

In [96]:
a='''Python by 'Rahul' is good and his 'materials' are good also'''

In [97]:
a

"Python by 'Rahul' is good and his 'materials' are good also"

In [86]:
a= 'Rahul'

In [87]:
a

'Rahul'

In [101]:
a = 'Edureka'

In [105]:
a[-1:-6:-1]

'akeru'

In [107]:
a[-6:-1:-1]

''

In [108]:
a[:-4]

'Edu'

In [109]:
a[-4:]

'reka'

In [111]:
#Python Collection Datatypes 
#Lists 
ages = [21,23,44,32,44,23,23,23,22,12,21,22,32,43,54,33]

In [112]:
len(ages)

16

In [115]:
ages[0:10:-1]

[]

In [117]:
ages[9:0:-1]

[12, 22, 23, 23, 23, 44, 32, 44, 23]

In [121]:
ages[-1:0:-3]

[33, 32, 12, 23, 32]

In [119]:
ages

[21, 23, 44, 32, 44, 23, 23, 23, 22, 12, 21, 22, 32, 43, 54, 33]

In [122]:
ages

[21, 23, 44, 32, 44, 23, 23, 23, 22, 12, 21, 22, 32, 43, 54, 33]

In [123]:
ages[-4:]

[32, 43, 54, 33]

In [124]:
ages[12:]

[32, 43, 54, 33]

In [131]:
ages[-1:-3:-1]

[33, 54]

In [128]:
ages

[21, 23, 44, 32, 44, 23, 23, 23, 22, 12, 21, 22, 32, 43, 54, 33]

In [136]:
ages = ['A', 12, 'B', 13, 'C',14, True, False, 10.5]

In [142]:
type(ages[8])

float

In [144]:
ages[0]='D'

In [145]:
ages

['D', 12, 'B', 13, 'C', 14, True, False, 10.5]

In [146]:
#Insertion order is preserved
#Duplicates are allowed 
#Heterogeneous data allowed 
#Growable in nature 
#Values should be enclosed in a square bracket

In [148]:
type(ages)

list

In [150]:
ages.append('E')

In [162]:
ages.append(['F','G','H'])

In [164]:
del ages[10][1]

In [166]:
del ages[10]

In [169]:
ages[0]=10

In [235]:
ages=[10, 12, 'B', 13, 'C', 14, 'True', False, 10.5, 'E',10,10,10]

In [171]:
ages.clear()

In [174]:
ages

[10, 12, 'B', 13, 'C', 14, True, False, 10.5, 'E']

In [175]:
ages1=ages.copy()

In [176]:
ages1

[10, 12, 'B', 13, 'C', 14, True, False, 10.5, 'E']

In [180]:
ages

[10, 12, 'B', 13, 'C', 14, True, False, 10.5, 'E', 10, 10, 10]

In [181]:
ages.count(10)

4

In [188]:
ages.extend([20,20,20])

In [185]:
del ages

In [189]:
ages

[10, 12, 'B', 13, 'C', 14, True, False, 10.5, 'E', 10, 10, 10, 20, 20, 20]

In [190]:
#del ages
ages.clear()

In [192]:
del ages

In [193]:
ages

NameError: name 'ages' is not defined

In [198]:
ages.clear(1)

TypeError: clear() takes no arguments (1 given)

In [199]:
ages

[10, 12, 'B', 13, 'C', 14, 'True', False, 10.5, 'E', 10, 10, 10]

In [200]:
a=10

In [201]:
ages = [a,12,43]

In [202]:
ages

[10, 12, 43]

In [207]:
ages.index(10)

0

In [206]:
ages

[10, 12, 'B', 13, 'C', 14, 'True', False, 10.5, 'E', 10, 10, 10]

In [208]:
ages.insert(6,20)

In [209]:
ages

[10, 12, 'B', 13, 'C', 14, 20, 'True', False, 10.5, 'E', 10, 10, 10]

In [217]:
ages.pop(3:5)

SyntaxError: invalid syntax (<ipython-input-217-7bd1d5a9c4b0>, line 1)

In [216]:
ages

[10, 12, 'B', 'C', 14, 20, 'True', False, 10.5]

In [218]:
del ages

In [225]:
ages.remove(10)

In [226]:
ages

['B', 13, 'C', 14, 'True', False, 10.5, 'E', 10, 10]

In [227]:
ages.reverse()

In [234]:
ages

[6, 4, 3, 2, 2, 1, 1, 0]

In [229]:
ages = [1,2,4,6,3,2,1,0]

In [230]:
ages.sort()

In [232]:
ages.reverse()

In [233]:
ages

[6, 4, 3, 2, 2, 1, 1, 0]

In [237]:
ages.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [244]:
ages.sort()

In [243]:
ages=['B',  'A',  'True',   'E']

In [245]:
ages

['A', 'B', 'E', 'True']

In [255]:
names = ['rahul','Anita','Calvin','Rama']

In [258]:
names.sort(reverse=True)

In [259]:
names

['rahul', 'Rama', 'Calvin', 'Anita']

In [260]:
#List is mutable

In [272]:
#Tuple 
ages = (21,23,22,22,32,'Rahul',True, 10.5)

In [264]:
type(ages)

tuple

In [269]:
ages(4)='Anita'

SyntaxError: can't assign to function call (<ipython-input-269-f0bb6e2eb464>, line 1)

In [273]:
ages.count(22)

2

In [268]:
ages.index(23)

1

In [274]:
x=[5,7,9]

In [275]:
y=x

In [276]:
y

[5, 7, 9]

In [277]:
y = x.reverse()

In [279]:
y

In [280]:
x.reverse()

In [281]:
ages = (1,2,3,4,[5,6,7,8])

In [283]:
type(ages)

tuple

In [287]:
ages[4][2]=70

In [288]:
ages

(1, 2, 3, 4, [5, 6, 70, 8])

In [289]:
ages = [1,2,3,4,(5,6,7,8)]

In [293]:
ages[4][2]=70

TypeError: 'tuple' object does not support item assignment

In [300]:
ages=[1,2,3,4,5,6,7,8]

In [297]:
ages[-1:-5:-1]

(8, 7, 6, 5)

In [301]:
tuple(ages)

(1, 2, 3, 4, 5, 6, 7, 8)