In [ ]:
#Range
#Dictionaries
#Sets
#Operators
#Input and Output

In [1]:
#Range - a function or data type
#generates sequence of numbers within the mentioned variable
range(10)
#10 will not participate

range(0, 10)

In [2]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
list(range(5,20))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [4]:
list(range(5,20,3))
#jumps 3 places

[5, 8, 11, 14, 17]

In [5]:
list(range(5,20,-3))

[]

In [6]:
list(range(20,5,-3))

[20, 17, 14, 11, 8]

In [7]:
list(range(20.1,5.7,-3))
#only accepts integers

TypeError: 'float' object cannot be interpreted as an integer

In [14]:
#How to generate odd and even numbers range?
#list(range(0,100,3))
list(range(0,100,2))

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [ ]:
#Dictionaries
#It's a key and value pair

In [15]:
mystudages = {'A':10, 'B': 20, 'C':30, 'D':40 }

In [17]:
mystudages

{'A': 10, 'B': 20, 'C': 30, 'D': 40}

In [18]:
type(mystudages)

dict

In [48]:
mystud = {'Student_name': ['A', 'B', 'C', 'D', 'E'], 'Student_age':[10,20,30,40,50],'Region': ['S', 'E', 'W', 'N', 'S'], 'Subject' : ['Py', 'PBI', 'TB', 'PY', 'R']}

In [49]:
type(mystud)

dict

In [50]:
mystud ['Region'] = ['S', 'E', 'W', 'N', 'S']

In [44]:
mystud
#if there is no balance between the variables then it will become 'null'

{}

In [51]:
mystud['Subject'] = ['Py', 'PBI', 'TB', 'PY', 'R']

In [52]:
mystud

{'Student_name': ['A', 'B', 'C', 'D', 'E'],
 'Student_age': [10, 20, 30, 40, 50],
 'Region': ['S', 'E', 'W', 'N', 'S'],
 'Subject': ['Py', 'PBI', 'TB', 'PY', 'R']}

In [53]:
#How to create a table in Python?
#We use pandas
#pandas = package name
#pd = nick name / alias
import pandas as pd
pd.DataFrame(mystud)

  Student_name  Student_age Region Subject
0            A           10      S      Py
1            B           20      E     PBI
2            C           30      W      TB
3            D           40      N      PY
4            E           50      S       R

In [ ]:
#Functions of dictionaries
#dict.clear : Will clear everything
#dict.copy: copies entire section
#dict.fromkeys : created a new dictionary with 'NA' as default value
#dict.get : to get a single key value or specific key value
#dict.items : gives you the list of items available in the dictionary
#dict.keys : gives you the list of keys in the dictionary
#dict.mro : Method Resolution Order (MRO) is the order in which Python looks for a method in a hierarchy of classes.
#dict.pop : The pop() method removes and returns an element from a dictionary having the given key.
#dict.popitem : The popitem() method removes the item that was last inserted into the dictionary.
#dict.setdefault :setdefault() method returns the value of a key (if the key is in dictionary). 
                 #If not, it inserts key with a value to the dictionary.
#dict.update:merges two diff dictionaries
#dict.values:The view object contains the values of the dictionary, as a list. 
   #The view object will reflect any changes done to the dictionary,

In [43]:
mystud

{}

In [41]:
mystud.clear()

In [54]:
mystud1 = mystud.copy()

In [58]:
mystud

{'Student_name': ['A', 'B', 'C', 'D', 'E'],
 'Student_age': [10, 20, 30, 40, 50],
 'Region': ['S', 'E', 'W', 'N', 'S'],
 'Subject': ['Py', 'PBI', 'TB', 'PY', 'R']}

In [59]:
mystud.fromkeys({'Student_name','Student_age','Subject'}, 'NA')

{'Subject': 'NA', 'Student_age': 'NA', 'Student_name': 'NA'}

In [60]:
mystud2 = mystud.fromkeys({'Student_name','Student_age','Subject', 'Marks'}, 'NA')

In [61]:
mystud2 ['Student_name'] = 'Jennifer'

In [62]:
mystud2

{'Subject': 'NA',
 'Marks': 'NA',
 'Student_age': 'NA',
 'Student_name': 'Jennifer'}

In [63]:
del mystud1

In [65]:
del mystud2

In [67]:
mystud.get('Student_name')

['A', 'B', 'C', 'D', 'E']

In [70]:
mystud['Student_name'][2]

'C'

In [76]:
mystud.items()
#looks like a tuple

dict_items([('Student_name', ['A', 'B', 'C', 'D', 'E']), ('Student_age', [10, 20, 30, 40, 50]), ('Region', ['S', 'E', 'W', 'N', 'S']), ('Subject', ['Py', 'PBI', 'TB', 'PY', 'R'])])

In [77]:
type(mystud.items())

dict_items

In [1]:
mystud.keys()

NameError: name 'mystud' is not defined

In [2]:
mystud = {'Student_name': ['A', 'B', 'C', 'D', 'E'], 'Student_age':[10,20,30,40,50],'Region': ['S', 'E', 'W', 'N', 'S'], 'Subject' : ['Py', 'PBI', 'TB', 'PY', 'R']}

In [3]:
mystud

{'Student_name': ['A', 'B', 'C', 'D', 'E'],
 'Student_age': [10, 20, 30, 40, 50],
 'Region': ['S', 'E', 'W', 'N', 'S'],
 'Subject': ['Py', 'PBI', 'TB', 'PY', 'R']}

In [7]:
mystud.pop (Student_age)

NameError: name 'Student_age' is not defined

In [8]:
mystud

{'Student_name': ['A', 'B', 'C', 'D', 'E'],
 'Student_age': [10, 20, 30, 40, 50],
 'Region': ['S', 'E', 'W', 'N', 'S'],
 'Subject': ['Py', 'PBI', 'TB', 'PY', 'R']}

In [9]:
mystud.pop('Student_age')

[10, 20, 30, 40, 50]

In [10]:
mystud

{'Student_name': ['A', 'B', 'C', 'D', 'E'],
 'Region': ['S', 'E', 'W', 'N', 'S'],
 'Subject': ['Py', 'PBI', 'TB', 'PY', 'R']}

In [11]:
mystud = {'Student_name': ['A', 'B', 'C', 'D', 'E'], 'Student_age':[10,20,30,40,50],'Region': ['S', 'E', 'W', 'N', 'S'], 'Subject' : ['Py', 'PBI', 'TB', 'PY', 'R']}

In [12]:
mystud

{'Student_name': ['A', 'B', 'C', 'D', 'E'],
 'Student_age': [10, 20, 30, 40, 50],
 'Region': ['S', 'E', 'W', 'N', 'S'],
 'Subject': ['Py', 'PBI', 'TB', 'PY', 'R']}

In [16]:
mystud.popitem()

('Region', ['S', 'E', 'W', 'N', 'S'])

In [18]:
mystud = {'Student_name': ['A', 'B', 'C', 'D', 'E'], 'Student_age':[10,20,30,40,50],'Region': ['S', 'E', 'W', 'N', 'S'], 'Subject' : ['Py', 'PBI', 'TB', 'PY', 'R']}

In [20]:
mystud

{'Student_name': ['A', 'B', 'C', 'D', 'E'],
 'Student_age': [10, 20, 30, 40, 50],
 'Region': ['S', 'E', 'W', 'N', 'S'],
 'Subject': ['Py', 'PBI', 'TB', 'PY', 'R']}

In [23]:
mystud['DOJ'] = {'Jan', 'Feb', 'Mar', 'Apr'}

In [30]:
dict1 = {'a':1, 'b':2}

In [31]:
dict1

{'a': 1, 'b': 2}

In [32]:
dict2 = {'c':3, 'd': 4}

In [33]:
dict2

{'c': 3, 'd': 4}

In [35]:
dict1.update(dict2)

In [36]:
dict1

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [37]:
mystud.values()

dict_values([['A', 'B', 'C', 'D', 'E'], [10, 20, 30, 40, 50], ['S', 'E', 'W', 'N', 'S'], ['Py', 'PBI', 'TB', 'PY', 'R'], {'Feb', 'Apr', 'Jan', 'Mar'}])

In [ ]:
#can we get the key from the value or how to rename a key?

In [38]:
mystud['stdnm'] = mystud.pop('Student_name')

In [39]:
mystud

{'Student_age': [10, 20, 30, 40, 50],
 'Region': ['S', 'E', 'W', 'N', 'S'],
 'Subject': ['Py', 'PBI', 'TB', 'PY', 'R'],
 'DOJ': {'Apr', 'Feb', 'Jan', 'Mar'},
 'stdnm': ['A', 'B', 'C', 'D', 'E']}

In [ ]:
#sets = A Set is an unordered collection data type that is iterable, mutable and has no duplicate elements. 
    #Python's set class represents the mathematical notion of a set.
    #{} just like dictionaries
    #it only accepts tuples and not lists
    #helps me to get unique values
    #Indexation is not supported in sets

In [3]:
myset1 = {1,1,2,2,3,4,5,6,3,3,}

In [4]:
myset1

{1, 2, 3, 4, 5, 6}

In [42]:
set([1,2,3,3,3,4,5])

{1, 2, 3, 4, 5}

In [7]:
myset1

{1, 2, 3, 4, 5, 6}

In [ ]:
#Functions of sets
#add - Adds an element to the set
#clear - Removes all the elements from the set
#copy - Returns a copy of the set
#difference  -Returns a set containing the difference between two or more sets
#difference update - Removes the items in this set that are also included in another, specified set
#discard - Remove the specified item
#intersection - Returns a set, that is the intersection of two other sets
#intersection update - Removes the items in this set that are not present in other, specified set(s)
#isdisjoint - Returns whether two sets have a intersection or not
#isubset - Returns whether another set contains this set or not
#issuperset - Returns whether this set contains another set or not
#pop - Removes an element from the set
#remove - Removes the specified element
#Symetric difference - Returns a set with the symmetric differences of two sets
#Symetric difference update - inserts the symmetric differences from this set and another
#union - Return a set containing the union of sets
#update - Update the set with the union of this set and others

In [10]:
myset1.discard(3)

In [17]:
myset1 = {1,2,3,4,5,6,7,8}

In [18]:
myset1

{1, 2, 3, 4, 5, 6, 7, 8}

In [19]:
myset2 = {4,5,6,7,8,9,10}

In [25]:
myset2.difference_update(myset1)

In [26]:
myset1

{1, 2, 3}

In [27]:
myset2

{4, 5, 6, 7, 8, 9, 10}

In [37]:
myset1 = {1,2,3,4,5,6,7,8}

In [38]:
myset2 = {4,5,6,7,8,9,10}

In [39]:
myset2.intersection(myset1)

{4, 5, 6, 7, 8}

In [40]:
myset1 = {1,2,3,4,5,6,7,8}

In [41]:
myset2 = {4,5,6,7,8,9,10}

In [42]:
myset1.intersection_update(myset2)

In [43]:
myset1

{4, 5, 6, 7, 8}

In [44]:
myset2

{4, 5, 6, 7, 8, 9, 10}

In [45]:
myset1 = {1,2,3,4,5,6,7,8}

In [46]:
myset2 = {4,5,6,7,8,9,10}

In [47]:
myset1.isdisjoint(myset2)

False

In [50]:
myset2.issubset(myset1)

False

In [51]:
myset2.issuperset(myset1)

False

In [ ]:
#Operators in Python
    #Arithmetic
    #Relational/Comparison
    #Logical
    #Equality
    #Bitwise
    #Assignment
    #Special - Identity and Membership

In [ ]:
#Arithmetic - Arithmetic operators are used to perform mathematical operations like addition, subtraction, multiplication, etc.
    #Addition x+y
    #Subtraction x-y
    #Multiplication x*y
    #Divison x/y
    #Modulus x%y - remainder of the division
    #Exponentiation x**y - x to the power of y
    #Floor Divison x//y

In [54]:
x=15
y=5

In [55]:
print(x+y)

20

In [56]:
print(x-y)

10

In [57]:
print(x*y)

75

In [58]:
print(x/y)

3.0

In [59]:
print(x%y)

0

In [60]:
print(x**y)

759375

In [61]:
print(x//y)

3

In [ ]:
#Relational/Comparison - They are used to compare values. It returns either True or False according to the condition.
    #>	Greater than - True if left operand is greater than the right	x > y
    #<	Less than - True if left operand is less than the right	x < y
    #==	Equal to - True if both operands are equal	x == y
    #!=	Not equal to - True if operands are not equal	x != y
    #>=	Greater than or equal to - True if left operand is greater than or equal to the right	x >= y
    #<=	Less than or equal to - True if left operand is less than or equal to the right	x <= y

In [69]:
x=10
y=12

In [64]:
x>y

False

In [65]:
x<y

True

In [70]:
x==y

False

In [71]:
x!=y

True

In [72]:
x>=y

False

In [73]:
x<=y

True

In [ ]:
#Logical Operators: They are used to combine conditional statements:
    #and 	Returns True if both statements are true	x < 5 and  x < 10 - x and y
    #or	 Returns True if one of the statements is true	x < 5 or x < 4 - x or y
    #not	Reverse the result, returns False if the result is true	not(x < 5 and x < 10) - not x

In [81]:
x = 5
print(x > 3 and x < 10)
# returns True because 5 is greater than 3 AND 5 is less than 10

True

In [82]:
x = 5
print(x > 3 or x < 4)
# returns True because one of the conditions are true (5 is greater than 3, but 5 is not less than 4)

True

In [83]:
x = 5
print(not(x > 3 and x < 10))
# returns False because not is used to reverse the result

False

In [ ]:
#Identity Opertors - They are used to compare the objects, not if they are equal, 
    #but if they are actually the same object, with the same memory location.
    #Two variables that are equal does not imply that they are identical.
#is 	Returns True if both variables are the same object	x is y
#is not	Returns True if both variables are not the same object	x is not y

In [84]:
x = ['apples', 'grapes']
y = ['apples', 'grapes']
z = x

In [85]:
x is z
# returns True because z is the same object as x

True

In [86]:
x is y
# returns False because x is not the same object as y, even if they have the same content

False

In [87]:
x==y
# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

True

In [ ]:
#Membership Operator: It is used to test if a sequence is presented in an object.
    #in and not in are the membership operators in Python. 
    #They are used to test whether a value or variable is found in a sequence (string, list, tuple, set and dictionary).
    #In a dictionary we can only test for presence of key, not the value.
#in	True if value/variable is found in the sequence	5 in x
#not in	True if value/variable is not found in the sequence	5 not in x

In [88]:
x = ["apple", "banana"]
print("banana" in x)
# returns True because a sequence with the value "banana" is in the list

True

In [89]:
x = ["apple", "banana"]
print("pineapple" not in x)
# returns True because a sequence with the value "pineapple" is not in the list

True

In [90]:
x = 'Hello world'
y = {1:'a',2:'b'}

In [92]:
'h' in x

False

In [94]:
'Hello' not in x

False

In [95]:
1 in y

True

In [96]:
'a' in y

False